body
{
color: white;
background: linear-gradient(orange 0%, yellow 100%);
}
.heading
{
    width: 80%;
    font-size: 22px;
    color: white;
    box-shadow: 5px 5px 38 blue;
}

#camera
{
    border: 2px dashed black;
    width: 350px;
    height: 400px;
}

.name_of_objects, #result_object_name, #result_object_accuracy
{
    color: white;
}